
*{
    padding: 0;
    /* margin: 10px; */
    font-family: sans-serif;
  
}

.container {

    margin: 0 auto;
    width: 1500px;
    color: rgb(14, 2, 2);
    
    }
.nav  {
   background-color:rgb(3, 3, 3);
    /* width: 1500px; */
    height:7px ;
   padding: 50px;
   align-items: center;
   display: flex;
   color: white;

}


.nav-links{
   display: flex;
   list-style: none;
   text-decoration: none;
}
.nav-links a{
   text-decoration-line: none;
   color: white;
   /* margin:  88x 88px 82px 88px; */
   font-size: 25px;
/* margin: 22px; */
 
 padding-left: 22px;
 padding-right: 22px;

 /* margin: 111px; */
  
}
.nav-links button{
   background-color:rgb(16, 74, 77);
   color: white;
   font-size: 22px;
   margin: 1px 1px 1px 444px;
   /* border-radius: 22%; */

}

.leftside{


display: flex;
align-items: center;

}

.leftside h1 {


    color: white;
    
    }
   
.div1{
    background-color: rgb(10, 247, 247);
    width: 1892px;
    height: 100px;
    width: 777px;

}
.div1p{
    background-color: rgb(74, 85, 85);
    width: 1892px;
    height: 100px;
    width: 777px;

}
.div1p h3{
    margin: 22px ;
    color: white;
}
.div2p{
    background-color: rgb(230, 240, 240);
    width: 1892px;
    height: 160px;
    width: 777px;
    background-color: rgb(255, 255, 255);
    border: 1px;  
    border-style: solid
}
#pp{
    width: 100px;
    height: 90px;
    position: fixed;
    top: 183px;
    left: 260px;
    border-radius: 55%;


}

.div2{
    /* background-color: aqua; */
    /* border-color: black; */
    border: 11px;
    display: flex;
     padding:0px 0px 0px 55px ;
    
}
.div3{
    /* background-color: aqua; */
    /* border-color: black; */
    border: 11p;
    display: flex;
     padding:0px 0px 0px 55px ;
     align-items: center;
    /* justify-content: space-around; */
}
.div4{
    /* background-color: aqua; */
    /* border-color: black; */
    border: 11p;
    /* display: flex; */
    /* gap: 12px; */
    padding:0px 390px 01px 0px ;
    border-color: rgb(192, 21, 21);
    border: 11px;
    color: black;
    
}
img {
    
    /* padding: 11px; */
    margin: 0;
    height: 37px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.RSide{
    /* background-color: aqua; */
    /* border-color: black; */
    border: 11p;
    /* display: flex; */
    /* gap: 12px; */
    
    padding:0px 390px 01px 0px ;
    border-color: rgb(192, 21, 21);
    border: 11px;
    color: rgb(6, 19, 2);
    margin: -725px 32px 145px 909px;
    padding: 44px 44px 44px 1px;
}
.RSide2{
    /* background-color: aqua; */
    /* border-color: black; */
    border: 11p;
    /* display: flex; */
    /* gap: 12px; */
    padding:0px 390px 01px 0px ;
    border-color: rgb(192, 21, 21);
    border: 11px;
    color: rgb(6, 19, 2);
    margin: -200px 32px 145px 909px;
    padding: 44px 44px 44px 1px;
}
.div2pRSide {
  /* justify-content:; */
  justify-content:left;
 padding:20px;
    background-color: rgb(74, 85, 85);
    width: 1892px;
    height: 55px;
    width: 444px;
    border: rgb(226, 21, 21);
  border: 33px;
  display: flex;
  color: aliceblue;
  /* justify-content: space-arou/nd; */
 gap: 12px;
  align-items: center;

}
.div2pRSide2 {
     width: 1892px;
    height:77px;
    width: 466px;
    border-color: rgb(216, 207, 207);

  border: 1px;
  display: flex;
  justify-content: space-around;
  gap: 12px;
  align-items: center;
  justify-content:left ;
  padding-left: 20px;
  border-style: solid;
}
.EndPaje {
    background-color: rgb(255, 255, 255);
    border: 1px;  
    border-style: solid;
    height:66px;
    display: flex;
    width: 488px;
    align-items: center;
 
  
}
 